$color-vegas-gold: #d6ba73;

.nav-bar {
  display: flex;
  height: 50px;
  width: 100%;
  background-color: $color-vegas-gold;
  font-size: 1rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
